# DATA TYPES

## 1- Strings

In [23]:
text1 = "This is an example"

In [24]:
type(text1)

str

In [25]:
text2 = 'This is a second example'

In [26]:
type(text2)

str

In [27]:
text3 = 'This is a third example, with a text "in quotes"'

In [28]:
type(text3)

str

In [29]:
print(text3)

This is a third example, with a text "in quotes"

In [30]:
text = text1 + ' ' + text2 + ' ' + text3

In [31]:
print(text)

This is an example This is a second example This is a third example, with a text "in quotes"

In [32]:
# Caracteres de escape
text4 = 'Line 1\nLine 2\nLine 3'
print(text4)

Line 1
Line 2
Line 3

In [33]:
text5 = 'First part\tsecond part\t\t\tthird part'
print(text5)

First part	second part			third part

## 2- Numbers

In [34]:
# Integer type
a = 5
type(a)

int

In [35]:
# Decimal type
b = 19.23
type(b)

float

In [36]:
# Complex type
c = 5 + 2j
type(c)

complex

## 3- Boolean

In [37]:
truthy = True
type(truthy)

bool

In [38]:
falsy = False
type(falsy)

bool

In [39]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      19.23
c          complex    (5+2j)
falsy      bool       False
text       str        This is an example This i<...>, with a text "in quotes"
text1      str        This is an example
text2      str        This is a second example
text3      str        This is a third example, with a text "in quotes"
text4      str        Line 1\nLine 2\nLine 3
text5      str        First part	second part			third part
texto2     str        This is a second example
truthy     bool       True